


.card1{
background-color: black;
display: flex;
align-items: center;
gap:53px;
padding:40px;
border-radius:32px;
}
.card-block{
   
}
.badge{
background-color:#191919;
color: #ffffff;
font-size: 17px;
font-weight:400;
line-height: 27px;
width: fit-content;
padding:0 16px;
border-radius:6px;
margin-bottom: 48.44px;
}
.episode{
color:#118DA8;
font-size: 17px;
font-weight: 400;
line-height:27px;
margin-bottom:17px;
}
.title{
font-weight:400;
font-size: 64px;
color:#ffffff;
width:676px;
}
.subTitle{
color:#ffffffB2;
font-size:22px;
font-weight:4000;
line-height:33px;
margin-bottom:18px;
width:773px;
}
.btn1{
background-color:#118DA8;
color: #ffffff;
font-size:18px;
font-weight:400;
line-height: 27px;
border:none;
border-radius: 6px;
padding:12px 15px 12px 20px;
}


.card2{
padding:20px 20px 30px 20px;
background-color:#E1EDE6;
width:fit-content;
}
.name{
color:#86928B;
font-weight:500;
font-size:18px;
line-height:100%;
margin-bottom:10px;
margin-top:20px;
}
.title1{
color:#2C2D35;
font-weight:500;
font-size:30px;
line-height:100%;
margin-bottom:10px;
}
.subTitle1{
color:#2C2D35;
font-weight:500;
font-size:18px;
line-height:100%;
margin-bottom:30px;
}
.price{
color:#598D66;
font-weight:500;
font-size:24px;
line-height:100%;
margin-bottom:20px;
}
.btn2{
border:1px solid #598D66;
color:#598D66;
background-color:transparent;
font-size:20px;
line-height:100%;
padding:21px 106px;
}


.card3{
width:360px;
border:1px solid #eee
}
.Forpadding{
padding:16px;
}
.name1{
color:#009AF0;
font-weight:700;
font-size:20px;
line-height:100%;
margin-bottom:16px;
width:328px;
}
.content{
color:#202842;
font-weight:400;
font-size:16px;
line-height:100%;
margin-bottom:16px;
width:328px;
}
.block{
display:flex;
align-items:center;
justify-content:space-between;
padding:0 16px;
}
.avatar{
width:38px;
height:38px;
border-radius: 50%;
margin-right:8px;
}
.block1{
margin-right: auto;
}
.username{
color:#202842;
font-weight:600;
font-size:14px; 
line-height:18px;    
margin-bottom:4px;
}
.date{
color:#1E1E1E80;
font-weight:600;
font-size:12px;
line-height:12px;
}
.btn3{
color:#FFFFFF;
background-color:#009AF0;
border-radius: 8px;
font-weight: 700;
font-size: 16px;
line-height: 100%;
padding: 8px 16px;
border: none;
}

.card4{
width:380px;
}
.box1{
padding:50px 89px 50px 44px;
}
.title1{
color:#2E363E;
font-weight:700;
font-size:24px;
line-height: 143%;
margin-bottom:12px;
}
.description{
color:#2E363E;
font-weight:400;
font-size:16px;
line-height: 150%;
margin-bottom:24px ;
}
.cost{
color:#434B53;
font-weight: 500;
font-size: 24px;
line-height: 150%;
margin-bottom: 14px;
}
.btn4{
    background-color:#FED84C;
    color:#2E363E;
    font-weight: 500;
    line-height:152%;
    font-size: 18px;
    border-radius:8px;
    border:none;
    padding:20 40px;
}




.Hcard1{
background-color: black;
display: flex;
align-items: center;
gap:53px;
padding:40px;
border-radius:32px;
}
.Hcard-block{
   
}
.Hbadge{
background-color:#191919;
color: #ffffff;
font-size: 17px;
font-weight:400;
line-height: 27px;
width: fit-content;
padding:0 16px;
border-radius:6px;
margin-bottom: 48.44px;
}
.Hepisode{
color:#118DA8;
font-size: 17px;
font-weight: 400;
line-height:27px;
margin-bottom:17px;
}
.Htitle{
font-weight:400;
font-size: 64px;
color:#ffffff;
width:676px;
}
.HsubTitle{
color:#ffffffB2;
font-size:22px;
font-weight:4000;
line-height:33px;
margin-bottom:18px;
width:773px;
}
.Hbtn1{
background-color:#118DA8;
color: #ffffff;
font-size:18px;
font-weight:400;
line-height: 27px;
border:none;
border-radius: 6px;
padding:12px 15px 12px 20px;
}




.Hcard2{
padding:20px 20px 30px 20px;
background-color:#E1EDE6;
width:fit-content;
}
.Hname{
color:#86928B;
font-weight:500;
font-size:18px;
line-height:100%;
margin-bottom:10px;
margin-top:20px;
}
.Htitle1{
color:#2C2D35;
font-weight:500;
font-size:30px;
line-height:100%;
margin-bottom:10px;
}
.HsubTitle1{
color:#2C2D35;
font-weight:500;
font-size:18px;
line-height:100%;
margin-bottom:30px;
}
.Hprice{
color:#598D66;
font-weight:500;
font-size:24px;
line-height:100%;
margin-bottom:20px;
}
.Hbtn2{
border:1px solid #598D66;
color:#598D66;
background-color:transparent;
font-size:20px;
line-height:100%;
padding:15px 0;
width:100%;
}


.Hcard3{
width:380px;
}

.Hblock2{
padding:50px 96px 24px 44px;
}
.Htitle1{
color:#2E363E;
font-weight:700;
font-size:24px;
line-height: 143%;
margin-bottom:12px;

}
.Hdescription{
color:#2E363E;
font-weight:400;
font-size:16px;
line-height: 150%;
margin-bottom:24px ;

}
.Hcost{
color:#434B53;
font-weight: 500;
font-size: 24px;
line-height: 150%;
margin-bottom: 14px;

}
.Hbtn4{
    background-color:#FED84C;
    color:#2E363E;
    font-weight: 500;
    line-height:152%;
    font-size: 18px;
    border-radius:8px;
    border:none;
    padding:20px 40px;
 
}


.Hcard4{
width:330px;
height:400px;
background-color: #0C0B15;
}
.Hskebeb-BLock{
display:flex;
justify-content: space-between;
align-items:flex-start;
padding:30px;
}
.Hguy{

}
.Hdots{

}
.Habout{
color:#FFFFFF;
font-weight:600;
font-size:22px;
line-height: 27px;
padding:18.3px 207.5px 24.37px 26.5px;
}
.Hjason{
color:#809FB8;
font-weight:600;
font-size:18px;
line-height:22px;
padding:0px 41.5px 26.5px 26.3px;
}
.Hlorem{
color:#809FB8;
font-weight:600;
font-size:16px;
line-height:21px;
padding:0px  27.72px ;
width:260px;
}




